################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sp1dmfc/v15
/.vs
/sp1dll/ResizableLib/Debug
/sp1dll/ResizableLib/Debug_Static_Unicode
/sp1dll/Debug
/TestSDIdll/Debug
/sp1dMFC.sdf
/sp1dMFC.v11.suo
/sp1dMFC.VC.db
/ipch
/sp1dMFC.VC.VC.opendb
/TestSDIdll/Win32/Debug
/TestSDIdll/Release
/sp1dll/Release
/sp1dll/ResizableLib/Win32/Debug
/sp1dll/ResizableLib/Release_Unicode
/sp1dll/ResizableLib/Release_Static_Unicode
/sp1dll/ResizableLib/Release_Static
/sp1dll/ResizableLib/Release
/sp1dll/ResizableLib/Debug_Unicode
/sp1dll/ResizableLib/Debug_Static
/sp1dll/Win32/Debug
